pandas==2.2.3
tqdm==4.67.1
Pillow==11.2.1
numpy==2.3.0
nibabel==5.3.2
matplotlib==3.8.4
ipython==9.0.2
scikit-learn==1.6.1
opencv-python==4.10.0
scipy==1.15.2
torch==2.6.0
torchvision==0.21.0
timm==1.0.15
seaborn==0.13.2
scikit-image==0.25.2