
.search-container {
  position: relative;
}

.search-container input {
  width: 300px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(31, 31, 35, 0.5);
  color: var(--accent-white);
  font-size: 16px;
  backdrop-filter: blur(10px);
}

.search-container input:focus {
  outline: none;
  border-color: var(--primary-color);
}
